@charset "UTF-8";
/* Fondo semitransparente */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.carousel-item img {
  height: 800px; /* Ajusta el valor según tus necesidades */
  object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado sin deformarse */
}

/* Estilo para el contenedor de título y subtítulo */
.titulo_subtitulo {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  padding: 10px;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center; /* Alinea el texto al centro */
}

.product__section {
  text-align: center;
  margin: 2% auto 2%;
}

.product__grilla {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr;
}
.product__grilla .product__container {
  padding: 10px;
  margin: 20px auto 20px;
  border: 1px solid #ccc;
}
.product__grilla .product__container img {
  width: 200px;
  height: 185px;
  margin: auto;
  display: block; /* Para centrar correctamente en todos los navegadores */
}

.nosotros__section {
  text-align: center;
  margin: 2% auto 2%;
}

.nosotros__grilla {
  display: grid;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.8392156863);
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  width: auto;
}
.login-container img {
  width: 30%;
  margin: 50px auto 50px; /* Centra la imagen y agrega margen inferior */
  display: block; /* Para centrar correctamente en todos los navegadores */
}
.login-container input {
  width: 45%; /* Ajusta el ancho del campo de entrada */
  padding: 10px;
  margin: 10px auto 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
}
.login-container label {
  font-size: 20px;
  font-weight: normal;
  display: block;
}

.page__footer {
  background-color: #222;
  color: #ccc;
  padding: 50px 0 30px;
  margin-top: 40px;
  text-align: center;
}
.page__footer .page__footer__info {
  color: #fff;
}
.page__footer .page__footer__copyright {
  color: #666;
  padding: 40px 0;
}

.container__venta {
  display: block;
  text-align: center;
}
.container__venta img {
  width: 100%;
  height: auto;
  margin-bottom: 20px; /* Centra la imagen y agrega margen inferior */
  display: block; /* Para centrar correctamente en todos los navegadores */
}

/* ccs para la vista nosotros*/
.container__nosotros {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1%;
}

.content {
  display: flex;
  margin: 1% auto 2%;
  width: 90%;
  text-align: center;
  align-items: center;
}
.content .info {
  width: 200%;
}
.content .info p {
  margin: 5% 10% 5% 10%;
  font-size: 20px;
}
.content .map img {
  width: 90%;
  border: 1px solid #fff;
  margin: 20px;
}

#buttom {
  width: 30%;
  margin: 15px auto 20px;
}

.paginacion {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

/* Estilos para la tarjeta */
.card {
  width: 90%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

/* Estilos para la cabecera de la tarjeta */
.card-header {
  position: relative;
  overflow: hidden;
  padding: 0%;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-header:hover .card-img {
  transform: scale(1.4);
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  font-size: 1rem;
  line-height: 1.4;
}

/* Estilos para el pie de la tarjeta */
.card-footer {
  padding: 10px 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-date {
  color: #999;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .carousel-item img {
    height: 600px; /* Ajusta el valor según tus necesidades */
    object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado sin deformarse */
  }
  .product__grilla .product__container {
    padding: 3px;
    margin: 10px auto 10px;
    border: 1px solid #ccc;
  }
  .product__grilla .product__container img {
    width: 110px;
    height: 100px;
  }
  .nosotros__grilla {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }
  .content {
    flex-direction: column-reverse;
  }
  .content .info {
    width: 100%;
  }
  .content .info p {
    margin: 5% 1% 5%;
    font-size: 18px;
  }
  .content .map img {
    width: 70%;
    border: 1px solid #fff;
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .product__grilla {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 2fr;
  }
}

/*# sourceMappingURL=style.css.map */
