@mixin grilla_item{
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
}


.product__section{
    text-align: center;
    margin: 2% auto 2%;
}

.product__grilla{
    @include grilla_item;
    grid-template-columns: 1fr 1fr;

    .product__container{
        padding: 10px;
        margin: 20px auto 20px;
        border: 1px solid $color-text-tertiary ;

        img {
            width: 200px;
            height: 185px;
            margin: auto; 
            display: block; /* Para centrar correctamente en todos los navegadores */
        }
    }
}

.nosotros__section{
    text-align: center;
    margin: 2% auto 2%;
}
.nosotros__grilla{
    @include grilla_item;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}





