.container__venta {
    display: flex;
    flex-direction: column; /* Alinea el contenido en una columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    height: 60vh; /* Ocupa toda la altura de la ventana gráfica */
    position: relative; /* Permite que los elementos internos se posicionen relativos a este contenedor */
}

/* Asegúrate de que la imagen cubra todo el contenedor y se adapte al diseño */
.container__venta img {
    position: absolute; /* Permite que la imagen ocupe todo el contenedor */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionar */
    z-index: -1; /* Asegura que la imagen esté detrás del texto */
}

/* Estilo para el texto centrado */
.titulo_subtitulo {
    text-align: center; /* Centra el texto dentro del contenedor */
    color: #fff; /* Color del texto para que contraste con la imagen de fondo */
    padding: 20px; /* Añade un poco de espacio alrededor del texto */
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

/* ccs para la vista nosotros*/

.container__nosotros {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1%;
}
.content {
    display: flex;
    margin: 1% auto 2%;
    width: 90%;
    text-align: center;
    align-items: center;
    .info{
        width: 200%;
        p{
            margin:5% 10% 5% 10%;
            font-size: 20px;
        }
    }
    .map img {
        width: 90%;
        border: 1px solid #fff;
        margin: 20px;
    }
}

