@media (max-width: 767px) {
    .carousel-item img {
        height: 600px; /* Ajusta el valor según tus necesidades */
        object-fit: cover; /* Asegura que la imagen cubra completamente el espacio asignado sin deformarse */
    }

    .product__grilla {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        img {
            max-width: 100%;
            height: 25dvh;
            border-bottom: 1px solid #ddd;
        }
    }

    .nosotros__grilla{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }

    .content{
        flex-direction: column-reverse;

        .info{
            width: 100%;
            p{
                margin: 5% 1% 5%;
                font-size: 18px;
            }
        }
        .map img {
            width: 70%;
            border: 1px solid #fff;
            margin: 20px;
        }
    }
}
@media (min-width){
    .container__venta {
        display: flex;
        flex-direction: column; /* Alinea el contenido en una columna */
        justify-content: center; /* Centra verticalmente el contenido */
        align-items: center; /* Centra horizontalmente el contenido */
        height: 80vh; /* Ocupa toda la altura de la ventana gráfica */
        position: relative; /* Permite que los elementos internos se posicionen relativos a este contenedor */
    }
}

@media (min-width: 1200px)
{
    .product__grilla{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-columns: 1fr 1fr 1fr;}
        .container__venta {
            height: 80vh; /* Ocupa toda la altura de la ventana gráfica */
        }
}


